/*Estilos iniciales para 320x568*/
*{
	margin: 0;
	padding: 0;
}
.body{
	background-color: #160903;
}
.header{
	height: 90px;
	width: auto;
	background-color: #20130a;
	text-align: center;
}
.logo{
	height: 100%;
	width: auto;
}
/*.h1-header{
	font-family: 'Kaushan Script', cursive;
	color: #da7932;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	font-size: 2em;
}*/
.bg-img{
	background-image: url('../img/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 30%;
}
.bg-color{
	background-color:rgba(32, 19, 10, 0.4);
	height: auto;
	width: 100%;
} 
.btn-cat{
	font-size: 30px;
	height: 80px;
	width: 100%;
	border: 1px solid #b6a18d;
	text-align: center;
	text-transform: capitalize;
	margin: 10px 0;
	font-family: 'Kaushan Script', cursive;
	color: #ddac22;
	border-radius: 35%;
	background-color: #20130a;
}
.card{
	background-color: #20130a ;
	color: #b6a18d;
	font-family: 'Merriweather', serif;
	font-size: 15px;
}
.footer{
	position:fixed;
   	left:0px;
   	bottom:0px;
   	height:25px;
   	width:100%;
   	background: #20130a;
}
.p-foot{
	font-family: 'Kaushan Script', cursive;
	color: #ddac22;
	padding-right: 10px;
	text-align: right;
}
/**/
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.dwSize{
	height: 50%;
	width: 50%;
	padding-bottom: 30px;
}
.postre{
	height: 40%;
	width: 40%;
	padding-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 900px){
	.logo{
		height: 100%;
		width: auto;
	}
	.bg-img{
		padding-bottom: 55%;
		height: auto;
	}
	.bg-color{
		background-color:rgba(32, 19, 10, 0.5);
		height: auto;
		width: 100%;
	}
	.socialMed{
		text-align: center;
	}
	.ulSocialMed{
		background-color: #20130a;
		margin: 0;
		display: inline-block;
		padding: 5px;
	}
	.liSocialMed{
		list-style: none;
		float: left;
		padding: 10px;
	}
	.fa-instagram, .fa-whatsapp, .fa-facebook, .fa-map-marker-alt{
		color: #ddac22;
	}
	.footer{
		height: 100px;
	}
}

